@page "/datagrid"

@using PosTrack.Data
@inject WeatherForecastService ForecastService

<ContentHeader>
    <Header>
        <PageTitle Title="Data grid" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle>Data grid</CardTitle>
        </Title>
        <Body>
            @if (forecasts == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <DxDataGrid Data="@forecasts"
                            CssClass="mw-1100">
                    <Columns>
                        <DxDataGridDateEditColumn Caption="Date" Field="Date" />
                        <DxDataGridColumn Caption="Temperature" Field="TemperatureF" />
                    </Columns>
                </DxDataGrid>
            }
        </Body>
    </Card>
</ContentMain>



@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}